<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{flask_token}}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
</head>
<body>
   
<h1>{{flask_token}}</h1>

<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>City</th>
                <th>Cases</th>
                <th>Rate</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>City</th>
                <th>Cases</th>
                <th>Rate</th>  
            </tr>
        </tfoot>
    </table>
<script>
function setupData(){
   $(document).ready(function() {
       $.ajax({type: "POST", url: "/start_crawling"});
       $('#example').DataTable({
        "ajax": {
            // "url": "static/objects2.txt", // This works for the static file
            "url": "/get_results", // This doesn't work
            "dataType": "json",
            "dataSrc": "data",
            "contentType":"application/json"
        },
        "lengthMenu": [[10,50,100,200,300,400,-1], [10,50,100,200,300,400,"all"]],
        "columns": [
            { "data": "city" },
            { "data": "cases" },
            { "data": "rate" }
        ]
        } );
    } );
}
$( window ).on( "load", setupData );

</script>
</body>
</html>